{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>EOSiO | Support Forum </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{% static 'forum/assets/plugins/bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/plugins/animate/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/css/forum/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/css/forum/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/css/forum/theme/default.css' %}" id="theme" rel="stylesheet" />
    <link href="{% static 'dashboard/assets/plugins/flag-icon/css/flag-icon.css' %}" rel="stylesheet" />
    
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'dashboard/assets/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css' %}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'dashboard/assets/plugins/pace/pace.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
</head>

<body>
    <!-- begin #header -->
    {% include 'dashboard/forum-navbar.html' %}
    <!-- end #header -->
    <!-- begin page-title -->
    <div class="page-title has-bg">
        <!-- begin bg-cover -->
        <div class="bg-cover">
            <img src="../assets/img/cover/cover-3.jpg" alt="" />
        </div>
        <!-- end bg-cover -->
        <!-- begin container -->
        <div class="container">
            <!-- begin breadcrumb -->
            <ul class="breadcrumb">
                <li><a href="index.html">Forum</a></li>
                <li><a href="category_list.html">{{ question.categories.all }}</a></li>
                <li class="active">&nbsp;</li>
            </ul>
            <!-- end breadcrumb -->
            <h1>{{ question.title }}</h1>
        </div>
        <!-- end container -->
    </div>
    <!-- end page-title -->
    <!-- begin content -->
    <div class="content">
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-9 -->
                <div class="col-md-9">
                    <!-- begin pagination -->
                    <div class="text-right">
                        <ul class="pagination m-t-0 m-b-15">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="text"><span>...</span></li>
                            <li><a href="#">10</a></li>
                            <li class="right"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- end pagination -->
                    <!-- begin forum-list -->
                    <ul class="forum-list forum-detail-list">
                        <li>
                            <!-- begin media -->
                            <div class="media">
                                <img src="../assets/img/user/user-1.jpg" alt="" />
                            </div>
                            <!-- end media -->
                            <!-- begin info-container -->
                            <div class="info-container">
                                <div class="post-user"><a href="#">{{ question.author }}</a> </div>
                                <div class="post-content">
                                    {{ question.content }}
                                </div>
                                <div class="post-time">{{ question.created_time | timesince }} ago</div>
                            </div>
                            <!-- end info-container -->
                        </li>
                        {% for answer in question.answers.all %}
                        <li>
                            <!-- begin media -->
                            <div class="media">
                                <img src="../assets/img/user/user-2.jpg" alt="" />
                                <span class="label label-inverse">USER</span>
                            </div>
                            <!-- end media -->
                            <!-- begin info-container -->
                            <div class="info-container">
                                <div class="post-user"><a href="#">{{ answer.author }}</a> <small>SAYS</small></div>
                                <div class="post-content">
                                    {{ answer.content }}
                                </div>
                                <div class="post-time">{{ answer.created }}</div>
                            </div>
                            <!-- end info-container -->
                        </li>
                        {% empty %}
                        <hr>
                        <div class="comment-banner-msg">
                            No Response for this question has been recorded yet
                        </div>
                        {% endfor %}
                    </ul>
                    <!-- end forum-list -->
                    <!-- begin pagination -->
                    <div class="text-right">
                        <ul class="pagination m-t-0">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="text"><span>...</span></li>
                            <li><a href="#">10</a></li>
                            <li class="right"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- end pagination -->
                    <!-- begin comment-section -->
                    <div class="panel panel-forum">
                        <div class="panel-heading">
                            <h4 class="panel-title">Comment</h4>
                        </div>
                        <div class="panel-body">
                            <form name="wysihtml5" method="POST" class="reactions_form" id="reactions_form">
                                <input type="text" name="question_id" value="{{ question.id }}" hidden="true">
                                <textarea class="textarea form-control" id="wysihtml5" placeholder="Enter text ..." rows="12" name="reaction"></textarea>
                                <div class="m-t-10">
                                    <button type="submit" class="btn btn-theme">Post Comment <i class="fa fa-paper-plane"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end comment-section -->
                </div>
                <!-- end col-9 -->
                <!-- begin col-3 -->
                <div class="col-md-3">
                    <!-- begin panel-forum -->
                    <div class="panel panel-forum">
                        <div class="panel-heading">
                            <h4 class="panel-title">Active Threads</h4>
                        </div>
                        <!-- begin threads-list -->
                        <ul class="threads-list">
                            <li>
                                <h4 class="title"><a href="detail.html">Browser Local Storage Tutorial</a></h4> last reply by <a href="#">Anatoliy</a> 1 minutes ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">How to create live push notification with HTML5 web socket</a></h4> last reply by <a href="#">Nasim</a> 8 minutes ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">Help! How to fire an ajax call while bootstrap modal is loading.</a></h4> last reply by <a href="#">Ural</a> 15 minutes ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">Migrate from jQuery 1.9.x to 2.x.x</a></h4> last reply by <a href="#">Arnold</a> 1 hour ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">Angular JS IE8 compatibility issues</a></h4> last reply by <a href="#">Mayeso</a> 4 hours ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">How to use FontAwesome Cheatsheet?</a></h4> last reply by <a href="#">Cepheus Herman</a> 1 day ago
                            </li>
                        </ul>
                        <!-- end threads-list -->
                    </div>
                    <!-- end panel-forum -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end content -->
    <!-- begin #footer -->
    <div id="footer" class="footer">
        {% include 'dashboard/forum-footer.html' %}
    </div>
    <!-- end #footer -->
    <!-- begin #footer-copyright -->
    <div id="footer-copyright" class="footer-copyright">
        {% include 'dashboard/forum-footer-copyright.html' %}
    </div>
    <!-- end #footer-copyright -->
    <!-- begin theme-panel -->
    <!-- end theme-panel -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'dashboard/assets/plugins/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/plugins/bootstrap3/js/bootstrap.min.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="{% static 'dashboard/assets/plugins/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/forum/apps.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static 'dashboard/assets/plugins/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js' %}"></script>
    <script src="{% static 'dashboard/assets/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/forum/forum-details-page.min.js' %}"></script>

    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
    // using jQuery - Conquer CSRF 
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    </script>
    <script>
    $(document).ready(function() {

        var $myForm = $('.reactions_form')
        $myForm.submit(function(event) {
            event.preventDefault()
            var $formData = $(this).serialize()
            console.log($formData)
            // var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
            $.ajax({
                method: "POST",
                url: "{% url 'save_reaction' %}",
                data: $formData,
                success: function(data, textStatus, xhr) {
                    console.log(data, xhr.status, 'success');
                    $myForm[0].reset(); // reset form data
                    // $("#ask-dialog").modal("hide");
                    $("#results").html("<div class='alert alert-success fade show'><span class='close' data-dismiss='alert'>×</span>" +
                        "<strong>Success!</strong> Your Reaction Was added Successfully</div>");
                    // var url = $(this).attr('href'); 
                    // window.open(url, '_blank');
                    var url = "{{ request.build_absolute_uri }}"
                    console.log(url);
                    window.location.href = "{{ request.build_absolute_uri }}"
                },
                error: function(data, textStatus, xhr) {
                    console.log(xhr.status, 'error encountered here');
                    $("#results").html("<div class='alert alert-danger fade show'><span class='close' data-dismiss='alert'>×</span>" +
                        "<strong>Error! </strong>Ummmm.. Looks like we were not able to capture your reaction</div>");
                },
                complete: function(xhr, textStatus) {
                    console.log(xhr.status, 'finished');


                }
            })
        })

        function scroll() {
            console.log('scrolling to top');
            window.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
        }

        function handleFormSuccess(data, textStatus, jqXHR) {
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)
            $myForm.reset(); // reset form data
        }

        function handleFormError(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        var siteURL = '127.0.0.1:8000/tags/',
            entries = $('.post-content');

        if (entries.length > 0) {

            entries.each(function() {
                var hashtagRegex = /(^|\s)#([\w\d-]+)/g
                var usernameRegex = /(^|\s)@([\w\d-]+)/g
                var currentHtml = $(this).html()
                var newText;
                newText = currentHtml.replace(hashtagRegex, "$1<a  href='hashtag/$2' title='Topic $2'> #$2</a>")
                newText = newText.replace(usernameRegex, "$1 @<a  href='/user/$2/' title='User $2'>$2</a>")

                $(this).html(newText);

            });

        }

    });
    </script>
    <script>
    $(document).ready(function() {
        App.init();
        ForumDetailsPage.init();
    });
    </script>
</body>

</html>