 {% load staticfiles notifications_tags %}

<div id="header" class="header navbar navbar-inverse navbar-fixed-top">
    <!-- begin container -->
    <div class="container">
        <!-- begin navbar-header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'forum' %}" class="navbar-brand">
                    <span class="brand-text">
                        EOSiO Forum
                    </span>
                     <span class="">
                </a>
                <a href="{% url 'home' %}" class="navbar-brand">
                    <span class="brand-text">
                        Dashboard
                    </span>
                </a>
        </div>
        <!-- end navbar-header -->
        <!-- begin #header-navbar -->
        <div class="collapse navbar-collapse" id="header-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Keywords..." />
                            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </li>
                {% if not request.user.is_authenticated %}
                <li><a href="javascript:;">Create Account</a></li>
                <li><a href="javascript:;">Sign In</a></li>
                {% endif %}
                <li class="dropdown">
                    <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                        <i class="fa fa-bell"></i>
                        <span class="badge live_notify_badge bg-success">{% live_notify_badge %}</span>
                    </a>
                    {% if request.user.is_authenticated %}
                    <ul class="dropdown-menu media-list pull-right">
                        <li class="dropdown-header">NOTIFICATIONS</li>
                        <li class="media live_notify_list">
                           {% live_notify_list %}
                        </li>
                        
                        <li class="dropdown-footer text-center">
                            <a href="{% url 'user_mentions' request.user.username %}">View more</a>
                        </li>
                    </ul>
                    {% endif %}
                </li>
                
            </ul>
        </div>
        <!-- end #header-navbar -->
    </div>
    <!-- end container -->
</div>