{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>EOSiO | Forum</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{% static 'forum/assets/plugins/bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/plugins/animate/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/css/forum/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/css/forum/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/css/forum/theme/default.css' %}" id="theme" rel="stylesheet" />
    <link href="{% static 'dashboard/assets/plugins/flag-icon/css/flag-icon.css' %}" rel="stylesheet" />
   
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'forum/assets/plugins/pace/pace.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
</head>

<body>
    <!-- begin #header -->
   {% include 'dashboard/forum-navbar.html' %}
    <!-- end #header -->
    <!-- begin search-banner -->
   {% include 'dashboard/forum-banner.html' %}
    <!-- end search-banner -->
    <!-- begin content -->
    <div class="content">
        <!-- begin container -->
        <div class="container" data-scrollbar="true">
            <!-- begin panel-forum -->
            <div class="panel panel-forum">
                <!-- begin panel-heading -->
                
                <div class="panel-heading panel-inverse">
                    <h4 class="panel-title">ALL CATEGORIES</h4>
                </div>
                <!-- end panel-heading -->
                {% for category in categories %}
                <!-- begin forum-list -->
                <ul class="forum-list">
                    <li>
                        <!-- begin media -->
                        <div class="media">
                            <img src="{% static 'forum/assets/img/icon/icon-chat-bubble.png' %}" style="width:35px; height:35px;" alt="" />
                        </div>
                        <!-- end media -->
                        <!-- begin info-container -->
                        <div class="info-container">
                            <div class="info">
                                <h4 class="title"><a href="{% url 'cat_questions' category.id %}">{{ category.name }}</a></h4>
                                <p class="desc">
                                    {{ category.description }}
                                </p>
                            </div>
                            <div class="total-count">
                                <span class="total-post">1,293</span> <span class="divider">/</span> <span class="total-comment">9,291</span>
                            </div>
                            <div class="latest-post">
                                <h5 class="title"><a href="category_list.html">Current # of Posts / Questions</a></h5>
                                <p class="time"><small>Since {{ category.created }}</small></p>
                            </div>
                        </div>
                        <!-- end info-container -->
                    </li>
                </ul>
                <!-- end forum-list -->
                {% endfor %}
            </div>
            <!-- end panel-forum -->
            <!-- begin panel-forum -->
        </div>
        <!-- end panel-forum -->
    </div>
    <!-- end container -->
    <!-- end content -->
    <!-- begin #footer -->
    <div id="footer" class="footer">
        <!-- begin container -->
       {% include 'dashboard/forum-footer.html' %}
        <!-- end container -->
    </div>
    <!-- end #footer -->
    <!-- begin #footer-copyright -->
    <div id="footer-copyright" class="footer-copyright">
        {% include 'dashboard/forum-footer-copyright.html' %}
    </div>
    <!-- end #footer-copyright -->
    <!-- begin theme-panel -->
    <!-- end theme-panel -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'forum/assets/plugins/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'forum/assets/plugins/bootstrap3/js/bootstrap.min.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="{% static 'forum/assets/plugins/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'forum/assets/js/forum/apps.min.js' %}"></script>
   
    <!-- ================== END BASE JS ================== -->
    <script>
    $(document).ready(function() {
        App.init();
    });
    </script>
</body>

</html>