{% load static %}
<div class="container">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-4 -->
        <div class="col-md-4">
            <!-- begin section-container -->
            <div class="section-container">
                <h4>Powered By EOS Nairobi</h4>
                <p>
                    Our Vision is to enhance <a href="https://eos.io/"><strong>#EOS </strong></a> + Blockchain in
                    <img src="{% static 'forum/assets/img/africa.png'%}" style="width:30px; height:30px;">.
                    <p class="text-success"><strong>&middot; Vote &middot; for &middot; eosnairobike &middot;</strong></p>
                </p>
            </div>
            <!-- end section-container -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-md-4">
            <!-- begin section-container -->
            <div class="section-container">
                <h4>Latest News</h4>
                <ul class="latest-post">
                    <li>
                        <h4 class="title"><a href="#">News 1</a></h4>
                        <p class="time">yesterday 10:42am</p>
                    </li>
                    <li>
                        <h4 class="title"><a href="#">Piece of News 2</a></h4>
                        <p class="time">10/04/2018</p>
                    </li>
                </ul>
            </div>
            <!-- end section-container -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-md-4">
            <!-- begin section-container -->
            <div class="section-container">
                <h4>New Users</h4>
                <ul class="new-user">
                    <li><a href="#" title="Hello Boy"><img src="{% static 'dashboard/assets/img/user/user-1.jpg' %}" alt="" /></a></li>
                    <li><a href="#" title="This is #EOS"><img src="{% static 'dashboard/assets/img/user/user-2.jpg' %}" alt="" /></a></li>
                    <li><a href="#" title="We are Proudly #EOSians"><img src="{% static 'dashboard/assets/img/user/user-3.jpg' %}" alt="" /></a></li>
                    <li><a href="#"><img src="{% static 'dashboard/assets/img/user/user-4.jpg' %}" alt="" /></a></li>
                    <li><a href="#"><img src="{% static 'dashboard/assets/img/user/user-5.jpg' %}" alt="" /></a></li>
                    <li><a href="#"><img src="{% static 'dashboard/assets/img/user/user-6.jpg' %}" alt="" /></a></li>
                    <li><a href="#"><img src="{% static 'dashboard/assets/img/user/user-7.jpg' %}" alt="" /></a></li>
                    <li><a href="#"><img src="{% static 'dashboard/assets/img/user/user-8.jpg' %}" alt="" /></a></li>
                    <li><a href="#"><img src="{% static 'dashboard/assets/img/user/user-9.jpg' %}" alt="" /></a></li>
                </ul>
            </div>
            <!-- end section-container -->
        </div>
        <!-- end col-4 -->
    </div>
    <!-- end row -->
</div>