 {% load thumbnail static crispy_forms_tags %}

<script src="{% static 'dashboard/assets/plugins/jquery/jquery-3.2.1.min.js' %}"></script>

<script src="{% static 'dashboard/assets/plugins/select2/dist/js/select2.min.js' %}"></script>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="ask-dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form id='question_form'>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Ask Your Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div id="err"></div>
                    {{ question_form | crispy }}
                    <span class="counter" id="counter">140 characters remaining</span>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                    <input type="submit" name="submit_question" class="btn btn-success">
                </div>
        </form>
        </div>
    </div>
</div>
<!-- /.modal -->
{% for question in questions %}
<!-- begin panel -->
<div class="panel panel-inverse" data-sortable-id="index-5">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
        </div>
        <h4 class="panel-title">{{ question.title }}</h4>
    </div>
    <div class="panel-body">
        <div>
            
                <li class="media media-sm fixed">
                    <a href="javascript:;" class="pull-left">
                        <img src="{% static 'dashboard/assets/img/user/user-5.jpg' %}" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">{{ question.author }}</h5>
                        <p class="user_content"><small>{{ question.content }}</small></p>
                    </div>
                </li>
                
                <div class="alert text-center show"><strong> Reactions</strong></div>
                <div data-scrollbar="true">
                    <ul class="media-list media-list-with-divider media-messaging">
                    {% for answer in question.answers.all %}
                 <li class="media media-xs answers_here">
                    <a href="javascript:;" class="pull-left">
                        <img src="{% static 'dashboard/assets/img/user/user-5.jpg' %}" alt="" class="media-object rounded-corner" />
                    </a>
                    <div class="media-body">
                        <h6 class="media-heading">{{ answer.author }}</h6>
                        <p class="user_content"><small>{{ answer.content | urlize |linebreaks}}</small></p>
                    </div> 
                </li>
                {% empty %}
                
                    <div class="alert alert-warning small alert-sm">
                        <i class="fa fa-info-circle fa-lg">
                            
                        </i><small> No Reactions found. No, not yet.</small>
                    </div>
               
                {% endfor %}
                </ul>
                </div>  
            
        </div>
    </div>
    <div class="panel-footer">
        <form action="" method="POST" class="reactions_form" id="reactions_form">
            <div class="input-group">
                <input type="text" name="question_id" value="{{ question.id }}" hidden="true">
                <input type="text" class="form-control bg-silver" name="reaction" placeholder="React" />
                <span class="input-group-append">
                    <button class="btn btn-primary submission" type="submit" ><i class="fa fa-pencil-alt"></i></button>
                </span>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#ask-dialog').modal('handleUpdate');
    var siteURL = '127.0.0.1:8000/tags/',
        entries = $('.user_content small');

    if (entries.length > 0) {

        entries.each(function() {
            var hashtagRegex = /(^|\s)#([\w\d-]+)/g
            var usernameRegex = /(^|\s)@([\w\d-]+)/g
            var currentHtml = $(this).html()
            var newText;
            newText = currentHtml.replace(hashtagRegex, "$1<a  href='hashtag/$2' title='Topic $2'> #$2</a>")
            newText = newText.replace(usernameRegex, "$1 @<a  href='/user/$2/' title='User $2'>$2</a>")

            $(this).html(newText);

        });

    }

});
</script>
{% empty %}
<div class="alert alert-warning">
    <i class="fa fa-info-circle fa-lg m-r-5 pull-left m-t-2"></i> Hey Eosian, it looks Deserted O'er Here. Make it lively.
    <a href="#ask-dialog" class="btn btn-outline-success btn-xs pull-right" data-toggle="modal">Shoot!</a>
</div>
{% endfor %}


<script>
    $(document).ready(function() {
        
        var $myForm = $('.reactions_form')
        $myForm.submit(function(event) {
            event.preventDefault()
            var $formData = $(this).serialize()
            console.log($formData)
            // var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
            $.ajax({
                method: "POST",
                url: "{% url 'save_reaction' %}",
                data: $formData,
                success: function(data, textStatus, xhr) {
                    console.log(data, xhr.status, 'success');
                    $myForm[0].reset(); // reset form data
                    $("#ask-dialog").modal("hide");
                    $("#results").html("<div class='alert alert-success fade show'><span class='close' data-dismiss='alert'>×</span>" +
                        "<strong>Success!</strong> Your Reaction Was added Successfully</div>");
                    // var url = $(this).attr('href'); 
                    // window.open(url, '_blank');
                    var url = "{{ request.build_absolute_uri }}"
                    console.log(url);
                    window.location.href = "{{ request.build_absolute_uri }}"
                },
                error: function(data, textStatus, xhr) {
                    console.log(xhr.status, 'error encountered here');
                    $("#results").html("<div class='alert alert-danger fade show'><span class='close' data-dismiss='alert'>×</span>" +
                        "<strong>Error! </strong>Ummmm.. Looks like we were not able to capture your reaction</div>");
                },
                complete: function(xhr, textStatus) {
                    console.log(xhr.status, 'finished');

                }
            })
        })
        function scroll() {
            console.log('scrolling to top');
            window.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
        }

        function handleFormSuccess(data, textStatus, jqXHR) {
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)
            $myForm.reset(); // reset form data
        }

        function handleFormError(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
    });
    </script>