{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Color Admin | Support Forum Front End Theme</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{% static 'forum/assets/plugins/bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet" />
     <link href="{% static 'dashboard/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/plugins/animate/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/css/forum/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/css/forum/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static 'forum/assets/css/forum/theme/default.css' %}" id="theme" rel="stylesheet" />
    <link href="{% static 'dashboard/assets/plugins/flag-icon/css/flag-icon.css' %}" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'dashboard/assets/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css' %}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'dashboard/assets/plugins/pace/pace.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <!-- begin #header -->
   {% include 'dashboard/forum-navbar.html' %}
    <!-- end #header -->
    
    <!-- begin page-title -->
    <div class="page-title has-bg">
        <!-- begin bg-cover -->
        <div class="bg-cover">
            <img src="../assets/img/cover/cover-3.jpg" alt="" />
        </div>
        <!-- end bg-cover -->
        <!-- begin container -->
        <div class="container">
            <!-- begin breadcrumb -->
            <ul class="breadcrumb">
                <li><a href="index.html">Forum</a></li>
                <li><a href="category_list.html">{{ question.category }}</a></li>
                <li class="active">&nbsp;</li>
            </ul>
            <!-- end breadcrumb -->
            <h1>{{ question.title }}</h1>
        </div>
        <!-- end container -->
    </div>
    <!-- end page-title -->
    
    <!-- begin content -->
    <div class="content">
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-9 -->
                <div class="col-md-9">
                    <!-- begin pagination -->
                    <div class="text-right">
                        <ul class="pagination m-t-0 m-b-15">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="text"><span>...</span></li>
                            <li><a href="#">10</a></li>
                            <li class="right"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- end pagination -->
                    
                    <!-- begin forum-list -->
                    <ul class="forum-list forum-detail-list">
                        <li>
                            <!-- begin media -->
                            <div class="media">
                                <img src="../assets/img/user/user-1.jpg" alt="" />
                                <span class="label label-danger">ADMIN</span>
                            </div>
                            <!-- end media -->
                            <!-- begin info-container -->
                            <div class="info-container">
                                <div class="post-user"><a href="#">{{ question.author }}</a> </div>
                                <div class="post-content">
                                    {{ question.content }}
                                </div>
                                <div class="post-time">4 hours ago</div>
                            </div>
                            <!-- end info-container -->
                        </li>
                        {% for answer in question.answers.all %}
                        <li>
                            <!-- begin media -->
                            <div class="media">
                                <img src="../assets/img/user/user-2.jpg" alt="" />
                                <span class="label label-inverse">USER</span>
                            </div>
                            <!-- end media -->
                            <!-- begin info-container -->
                            <div class="info-container">
                                <div class="post-user"><a href="#">Hagano</a> <small>SAYS</small></div>
                                <div class="post-content">
                                    Curabitur et tempus risus. Aenean et tortor pretium ligula elementum blandit. Aliquam in nibh vitae ligula molestie tristique nec quis augue.
                                </div>
                                <div class="post-time">5 hours ago</div>
                            </div>
                            <!-- end info-container -->
                        </li>
                        {% empty %}
                        <hr>
                         <div class="comment-banner-msg">
                        No Response for this question has been recorded yet
                    </div>
                        {% endfor %}
                      
                    </ul>
                    <!-- end forum-list -->
                    
                    <!-- begin pagination -->
                    <div class="text-right">
                        <ul class="pagination m-t-0">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="text"><span>...</span></li>
                            <li><a href="#">10</a></li>
                            <li class="right"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- end pagination -->
                    
                    <!-- begin comment-section -->
                   
                    <div class="panel panel-forum">
                        <div class="panel-heading">
                            <h4 class="panel-title">Comment</h4>
                        </div>
                        <div class="panel-body">
                            <form action="/" name="wysihtml5" method="POST">
                                <textarea class="textarea form-control" id="wysihtml5" placeholder="Enter text ..." rows="12"></textarea>
                                <div class="m-t-10">
                                    <button type="submit" class="btn btn-theme">Post Comment <i class="fa fa-paper-plane"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end comment-section -->
                </div>
                <!-- end col-9 -->
                <!-- begin col-3 -->
                <div class="col-md-3">
                    <!-- begin panel-forum -->
                    <div class="panel panel-forum">
                        <div class="panel-heading">
                            <h4 class="panel-title">Active Threads</h4>
                        </div>
                        <!-- begin threads-list -->
                        <ul class="threads-list">
                            <li>
                                <h4 class="title"><a href="detail.html">Browser Local Storage Tutorial</a></h4>
                                last reply by <a href="#">Anatoliy</a> 1 minutes ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">How to create live push notification with HTML5 web socket</a></h4>
                                last reply by <a href="#">Nasim</a> 8 minutes ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">Help! How to fire an ajax call while bootstrap modal is loading.</a></h4>
                                last reply by <a href="#">Ural</a> 15 minutes ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">Migrate from jQuery 1.9.x to 2.x.x</a></h4>
                                last reply by <a href="#">Arnold</a> 1 hour ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">Angular JS IE8 compatibility issues</a></h4>
                                last reply by <a href="#">Mayeso</a> 4 hours ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">How to use FontAwesome Cheatsheet?</a></h4>
                                last reply by <a href="#">Cepheus Herman</a> 1 day ago
                            </li>
                        </ul>
                        <!-- end threads-list -->
                    </div>
                    <!-- end panel-forum -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end content -->
    
    <!-- begin #footer -->
    <div id="footer" class="footer">
        {% include 'dashboard/forum-footer.html' %}      
    </div>
    <!-- end #footer -->
    <!-- begin #footer-copyright -->
    <div id="footer-copyright" class="footer-copyright">
       {% include 'dashboard/forum-footer-copyright.html' %}
    </div>
    <!-- end #footer-copyright -->
    <!-- begin theme-panel -->
   
    <!-- end theme-panel -->
    
    <!-- ================== BEGIN BASE JS ================== -->
    
    <script src="{% static 'dashboard/assets/plugins/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/plugins/bootstrap3/js/bootstrap.min.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="{% static 'dashboard/assets/plugins/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/forum/apps.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
    
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static 'dashboard/assets/plugins/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js' %}"></script>
    <script src="{% static 'dashboard/assets/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/forum/forum-details-page.min.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    
    <script>    
        $(document).ready(function() {
            App.init();
            ForumDetailsPage.init();
        });
    </script>
</body>
</html>
